{% extends 'base.html.twig' %}

{% block body %}
    <h1>Readybets list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Advertid</th>
                <th>Datecreatedat</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for readyBet in readyBets %}
            <tr>
                <td><a href="{{ path('readybet_show', { 'id': readyBet.id }) }}">{{ readyBet.id }}</a></td>
                <td>{{ readyBet.advertId }}</td>
                <td>{% if readyBet.dateCreatedAt %}{{ readyBet.dateCreatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ readyBet.status }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('readybet_show', { 'id': readyBet.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('readybet_edit', { 'id': readyBet.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('readybet_new') }}">Create a new readyBet</a>
        </li>
    </ul>
{% endblock %}
