{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    <table>
        <thead>
            <tr>
                <th>Номер телефона</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.phoneNumber }}</td>
                <td>{{ user.email }}</td>

                <td>
                    <ul>
                        <li>
                            <a href="{{ path('users_edit', { 'id': user.id }) }}">Редактировать профиль</a>
                        </li>
                        <li>
                            <a href="{{ path('commentstouser_index', { idUser:user.id }) }}">Комментарии</a>
                        </li>
                        <li>
                            <a href="{{ path('message_new', { idUser:user.id }) }}">Отправить сообщение</a>
                        </li>
                        <li>
                            <a href="{{ path('users_show', { id:user.id }) }}">Профайл автора</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('users_new') }}">Регистрация</a>
        </li>
    </ul>
{% endblock %}
