{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

    <div class="registration" style="background-image:url({{asset('bundles/default/img/image.png')  }})">
        <h1>Регистрация</h1>
    </div>
    <div class="registration-container">

        <form class="form-horizontal">

            {{ form_start(form, { 'action': path('users_new'), 'method': 'POST' }) }}
            {{ form_errors(form) }}
    <div class="form-group col-sm-8">
            {{ form_row(form.email, { 'attr': {'class': 'form-control '}}) }}
    </div>
    <div class="form-group col-sm-8">
            {{ form_row(form.phoneNumber, { 'attr': {'class': 'form-control '}}) }}
    </div>
    <div class="form-group col-sm-8">
            {{ form_row(form.login, { 'attr': {'class': 'form-control '}}) }}
    </div>
    <div class="form-group col-sm-8">
            {{ form_row(form.name, { 'attr': {'class': 'form-control '}}) }}
    </div>
    <div class="form-group col-sm-8">
            {{ form_row(form.secondName, { 'attr': {'class': 'form-control '}}) }}
    </div>
    <div class="form-group col-sm-8">
            {{ form_row(form.plainPassword) }}
    </div>

            {{ form_rest(form) }}
        </form>
  <div class="col-sm-5" style="margin-bottom: 100px">
    <input type="submit" class="btn btn-default" value="Зарегистрироваться">

        </div>

</div>
</div>
    {% endblock %}

