{% extends 'base.html.twig' %}

{% block body %}
    <h1>Пользователь {{ user.name }} {{ user.secondName }}</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ user.login }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ user.photo }}</td>
            </tr>
            <tr>
                <th>Phonenumber</th>
                <td>{{ user.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Написать автору</th>
                <td><a href="{{ path('message_new', { idUser:user.id }) }}">Отправить сообщение</a></td>
            </tr>

        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('users_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
