{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comments to user list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Mark</th>
                <th>Date created at</th>
                <th>Date of renting</th>
                <th>Date of leaving</th>
                <th>Пользователь</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comments in user.getComments() %}
            <tr>
                <td><a href="{{ path('commentstouser_show', { 'id': comments.id }) }}">{{ comments.id }}</a></td>
                <td>{{ comments.text }}</td>
                <td>{{ comments.mark }}</td>
                <td>{% if comments.dateCreatedAt %}{{ comments.dateCreatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if comments.dateOfRenting %}{{ comments.dateOfRenting|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if comments.dateofLeaving %}{{ comments.dateofLeaving|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ comments.commentator }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('commentstouser_edit', { 'id': comments.id }) }}">Редактировать</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commentstouser_new', {idUser:user.getId()}) }}">Добавить комментарий</a>
        </li>
    </ul>
{% endblock %}
