{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commentstouser</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commentsToUsers.id }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ commentsToUsers.text }}</td>
            </tr>
            <tr>
                <th>Mark</th>
                <td>{{ commentsToUsers.mark }}</td>
            </tr>
            <tr>
                <th>Datecreatedat</th>
                <td>{% if commentsToUsers.dateCreatedAt %}{{ commentsToUsers.dateCreatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dateofrenting</th>
                <td>{% if commentsToUsers.dateOfRenting %}{{ commentsToUsers.dateOfRenting|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dateofleaving</th>
                <td>{% if commentsToUsers.dateofLeaving %}{{ commentsToUsers.dateofLeaving|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commentstouser_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('commentstouser_edit', { 'id': commentsToUsers.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
