{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Редактирование комментария к объявлению</h1>
        <div>
            {% for flash_message in app.session.flashBag.get('error') %}
                <b style="color: red">Ошибка при заполнении!</b> {{ flash_message }}<br>
            {% endfor %}
        </div>


        <div class="form-horizontal">
            {{ form_start(edit_form, { 'action': path('commentstoadvert_edit', {id:commentsToAdvert.getId()}), 'method': 'POST' }) }}
            {{ form_errors(edit_form) }}
            <div class="form-group col-sm-8">
                {{ form_row(edit_form.content, {  'attr': {'class': 'form-control ','placeholder':"Text input"}}) }}
            </div>
            <div class="form-group col-sm-8">
                {{ form_row(edit_form.mark,{'attr': {'class': 'form-control '}}) }}
            </div>

            <div class="col-sm-5">
                <input type="submit" class="btn btn-info" value="Создать" />
            </div>
            {{ form_rest(edit_form) }}
        </div>
        <br />

    </div>
{% endblock %}
