{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comments to adverts list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>AdvertId</th>
                <th>Comment</th>
                <th>Mark</th>
                <th>Date created at</th>
                <th>Пользователь</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comments in advert.getComments() %}
            <tr>
                <td>{{ comments.id }}</td>
                <td>{{ comments.Advert.id }}</td>
                <td>{{ comments.content }}</td>
                <td>{{ comments.mark }}</td>
                <td>{% if comments.dateCreatedAt %}{{ comments.dateCreatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ comments.commentator }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('commentstoadvert_edit', { 'id': comments.id }) }}">Редактировать</a>
                            <a href="{{ path('commentstoadvert_delete', { 'id': comments.id }) }}">Удалить</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commentstoadvert_new', {idAdvert:advert.getId()}) }}">Добавить комменарий</a>
        </li>
    </ul>
{% endblock %}
