{% extends 'base.html.twig' %}

{% block body %}
    <h1>Auctionbets list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Advertid</th>
                <th>Fullsum</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for auctionBet in auctionBets %}
            <tr>
                <td><a href="{{ path('auctionbet_show', { 'id': auctionBet.id }) }}">{{ auctionBet.id }}</a></td>
                <td>{{ auctionBet.advertId }}</td>
                <td>{{ auctionBet.fullSum }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('auctionbet_show', { 'id': auctionBet.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('auctionbet_edit', { 'id': auctionBet.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('auctionbet_new') }}">Create a new auctionBet</a>
        </li>
    </ul>
{% endblock %}
