{% extends 'base.html.twig' %}

{% block body %}
    <h1>Adverts list</h1>

    <table border="1px solid black">
        <thead>
            <tr>
                <th>Id</th>
                <th>Send message to author</th>
                <th>Author</th>
                <th>District</th>
                <th>Adress</th>
                <th>Discription</th>
                <th>Roomcount</th>
                <th>Floor</th>
                <th>Pricepermonth</th>
                <th>Dateofrenting</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for advert in adverts %}
            <tr>
                <td><a href="{{ path('adverts_show', { 'id': advert.id }) }}">{{ advert.id }}</a></td>
                {#<td><a href="{{ path('message_new', { 'idUser': advert.user.id }) }}">Написать автору {{ advert.user.name }}</td>#}
                {#<td><a href="{{ path('users_show', { 'id': advert.user.id }) }}">{{ advert.user.name }}</td>#}
                <td>{{ advert.district }}</td>
                <td>{{ advert.adress }}</td>
                <td>{{ advert.discription }}</td>
                <td>{{ advert.roomCount }}</td>
                <td>{{ advert.floor }}</td>
                <td>{{ advert.pricePerMonth }}</td>
                <td>{% if advert.dateOfRenting %}{{ advert.dateOfRenting|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('adverts_show', { 'id': advert.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('basket_add', { 'idAdvert': advert.id }) }}">add to favorite</a>
                        </li>
                        <li>
                            <a href="{{ path('adverts_edit', { 'id': advert.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('commentstoadvert_index', { idAdvert:advert.id }) }}">Комментарии</a>
                        </li>
                    </ul>
                </td>

                <td><a href="{{ path('advert_photo_list', { idAdvert: advert.id }) }}">Управление картинками</a></td>
                <td><img src="/images/{{advert.getIconFileName() }}"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('adverts_new') }}">Create a new advert</a>
        </li>
        <li>
            <h2>Количество обьявлений: {{ amountOfAdverts }}</h2>
        </li>
        <li>
            <h2>Количество пользователей: {{ amountOfUsers }}</h2>
        </li>
        <li>
            <h2>Количество Отзывов: {{ amountOfComments }}</h2>
        </li>

        <br>
        <br>

        <li>
            <a href="{{ path('adverts_filter1') }}">Суворовский район, {{ amount1 }} квартир</a>
        </li>

        <li>
            <a href="{{ path('adverts_filter2') }}">Коминтерновский район, {{ amount2 }} квартир</a>
        </li>

        <li>
            <a href="{{ path('adverts_filter3') }}">Малиновский район, {{ amount3 }} квартир</a>
        </li>

        <li>
            <a href="{{ path('adverts_filter4') }}">Приморский район, {{ amount4 }}  квартир</a>
        </li>

        <li>
            <a href="{{ path('adverts_filter5') }}">Киевский район, {{ amount5 }} квартир</a>
        </li>

    </ul>

{% endblock %}
