{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Создание объявления</h1>
        <div>
            {% for flash_message in app.session.flashBag.get('error') %}
                <b style="color: red">Ошибка при заполнении!</b> {{ flash_message }}<br>
            {% endfor %}
        </div>


        <div class="form-horizontal">

            {{ form_start(form, { 'action': path('adverts_new'), 'method': 'POST', 'attr': {'class': 'form_style '} }) }}
            {{ form_errors(form) }}
            <div class="form-group col-sm-8">
                {{ form_row(form.title, {  'attr': {'class': 'form-control ','placeholder':"Text input"}}) }}
            </div>
            <div class="form-group col-sm-8">
                {{ form_row(form.district,{'attr': {'class': 'form-control '}}) }}
            </div>
            <div class="form-group col-sm-8">

                {{ form_row(form.adress, { 'attr': {'class': 'form-control '}}) }}
            </div>

            <div class="form-group col-sm-8">

                {{ form_row(form.roomCount,{'attr': {'class': 'form-control '}}) }}
            </div>
            <div class="form-group col-sm-8">

                {{ form_row(form.floor,{ 'attr': {'class': 'form-control '}}) }}
            </div>

            <div class="form-group col-sm-8">
                {{ form_row(form.pricePerMonth,{ 'attr': {'class': 'form-control '}}) }}
            </div>
            <div class="form-group col-sm-8">
                {{ form_row(form.discription, {'attr': {'class': 'form-control '}}) }}
            </div>
            <div class="form-group col-sm-8">
                {{ form_row(form.dateOfRenting, { 'id': 'period_from','attr': {'type': 'date'}}) }}
            </div>
            <div class="form-group col-sm-8">

                {{ form_row(form.photoFile) }}
            </div>

            {{ form_rest(form) }}

            <div class="col-sm-5">
                <input type="submit" class="btn btn-info" value="Создать" />
            </div>
        </div>
        <br />
        <div class="col-sm-12" style="margin-bottom: 100px ; margin-top: 20px">
            <a href="{{ path('adverts_index') }}">Back to the list</a>
        </div>
    </div>


{% endblock %}
