{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h1>Report creation</h1>
        <div>
            {% for flash_message in app.session.flashBag.get('error') %}
                <b style="color: red">Ошибка при заполнении!</b> {{ flash_message }}<br>
            {% endfor %}
        </div>


        <div class="form-horizontal">

            {{ form_start(form, { 'action': path('report_new', {idUser:report.getUser().getId()}), 'method': 'POST' }) }}
            {{ form_errors(form) }}
            <div class="form-group col-sm-8">
                {{ form_row(form.report, {  'attr': {'class': 'form-control ','placeholder':"Text input"}}) }}
            </div>
            <div class="col-sm-5">
                <input type="submit" class="btn btn-info" value="Создать" />
            </div>
            {{ form_rest(form) }}
        </div>
        <br />
        <div class="col-sm-12" style="margin-bottom: 100px ; margin-top: 20px">
            <a href="{{ path('report_index') }}">Back to the list</a>
        </div>
    </div>


{% endblock %}
